<section class="relative h-full bg-cover bg-center" style="background-image: url('https://everyinfantmatters.org/wp-content/uploads/sites/22/2023/04/Rads-with-kids.jpg');">
    <div class="absolute inset-0 bg-black opacity-50"></div> 
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center">
        <h1 class="text-4xl md:text-6xl md:w-5xl mx-auto font-bold mb-4">We Fight the Horrific Inequities in the Healthcare Space</h1>
        <p class="text-lg md:text-xl mb-8 max-w-2xl">We believe that everyone deserves access to quality healthcare, regardless of their background or socioeconomic status. We are committed to fighting for a more equitable and just healthcare system.</p>
        <button class="bg-gradient-to-br from-yellow-200 to-pink-400 hover:from-pink-400 hover:to-yellow-200 text-gray-800 font-semibold py-4 px-10 rounded-full text-gray-800">See Our Work</button>
    </div>
</section>