<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="font-serif text-4xl md:text-5xl lg:text-6xl font-regular text-gray-800 mb-6">Latest News & Updates</h2>
      <p class="mt-1 text-gray-600">See how game-changing companies are making the most of every engagement with Preline.</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card -->
      <a class="group flex flex-col h-full border border-gray-200 bg-white hover:border-transparent hover:shadow-lg focus:outline-none focus:border-transparent focus:shadow-lg transition duration-300 rounded-xl p-5" href="#">
        <div class="aspect-w-16 aspect-h-11">
          <img class="w-full object-cover rounded-xl" src="https://everyinfantmatters.org/wp-content/uploads/sites/22/2023/08/2023_7image_16_23_562320864ee-ll.jpg" alt="Blog Image">
        </div>
        <div class="my-6">
          <h3 class="text-xl font-semibold text-gray-800">
            Flood Relief in Himachal Pradesh
          </h3>
          <p class="mt-5 text-gray-600">
            There is terrible devastation in the state of Himachal due to torrential rains, floods and landslides. Thousands are suffering. We are so grateful to our dedicated team of volunteers, led by Sharad Srivastava, who are distributing relief material in Solan and Simla, and further deeper into effected regions such as Bhuntar, Rohroo and Syange.
          </p>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group flex flex-col h-full bg-white border border-gray-200 hover:border-transparent hover:shadow-lg focus:outline-none focus:border-transparent focus:shadow-lg transition duration-300 rounded-xl p-5" href="#">
        <div class="aspect-w-16 aspect-h-11">
          <img class="w-full object-cover rounded-xl" src="https://everyinfantmatters.org/wp-content/uploads/sites/22/2023/06/WhatsApp-Image-2023-06-25-at-20.24.36.jpeg" alt="Blog Image">
        </div>
        <div class="my-6">
          <h3 class="text-xl font-semibold text-gray-800">
            Giving Vitamin A to 10,000 school children in Kashmir
          </h3>
          <p class="mt-5 text-gray-600">
            Every Infant Matters joins hands with the National Health Mission, government of India, in villages of Block Sopore, District Baramulla, to implements its projects in government schools in the village Wadoora Tehsil Dangerpora and Higher Secondary Schools in Jammu & Kashmir. Now this programme is being held continuously in all blocks in district Baramulla.
          </p>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group flex flex-col h-full bg-white border border-gray-200 hover:border-transparent hover:shadow-lg focus:outline-none focus:border-transparent focus:shadow-lg transition duration-300 rounded-xl p-5" href="#">
        <div class="aspect-w-16 aspect-h-11">
          <img class="w-full object-cover rounded-xl" src="https://images.unsplash.com/photo-1521321205814-9d673c65c167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80" alt="Blog Image">
        </div>
        <div class="my-6">
          <h3 class="text-xl font-semibold text-gray-800">
            Dr. Radhika Batra receives the Exceptional Leadership Award
          </h3>
          <p class="mt-5 text-gray-600">
            Dr. Radhika Batra receives the Exceptional Leadership Award, given every year by FAIMA, the Federation of All India Medical Associations, for the second time in a row. A proud moment indeed for Every Infant Matters.
          </p>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a class="group flex flex-col h-full bg-white border border-gray-200 hover:border-transparent hover:shadow-lg focus:outline-none focus:border-transparent focus:shadow-lg transition duration-300 rounded-xl p-5" href="#">
        <div class="aspect-w-16 aspect-h-11">
          <img class="w-full object-cover rounded-xl h-[250px]" src="https://pbs.twimg.com/media/FxW7KMEaIAANvhr?format=jpg&name=900x900" alt="Blog Image">
        </div>
        <div class="my-6">
          <h3 class="text-xl font-semibold text-gray-800">
            Dr Radhika Batra invited as Speaker at TEDx Gateway, the largest TEDx conference in Asia
          </h3>
          <p class="mt-5 text-gray-600">
            Dr Radhika Batra invited as Speaker at TEDxGateway in Mumbai today. This is India’s biggest ever idea festival and Asia’s largest TEDx conference to listen to exciting speakers. She shared her insights and shed light on the burning issue of malnutrition, and how Vitamin A deficiency leads to permanent blindness in children.
          </p>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a class="group flex flex-col h-full bg-white border border-gray-200 hover:border-transparent hover:shadow-lg focus:outline-none focus:border-transparent focus:shadow-lg transition duration-300 rounded-xl p-5" href="#">
        <div class="aspect-w-16 aspect-h-11">
          <img class="w-full object-cover rounded-xl" src="https://images.unsplash.com/photo-1521321205814-9d673c65c167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80" alt="Blog Image">
        </div>
        <div class="my-6">
          <h3 class="text-xl font-semibold text-gray-800">
            Transforming Lives: The Impact of Schwab Foundation’s Social Entrepreneurship Award on Every Infant Matters
          </h3>
          <p class="mt-5 text-gray-600">
            Delighted to be in Geneva, invited by the World Economic Forum. I am proud to say that in 2014 I was selected as a social entrepreneur by the Schwab Foundation for Social Entrepreneurship. This was not merely an award or recognition. It had a far reaching impact not just for me as a person but also on Every Infant Matters.
          </p>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a class="group flex flex-col h-full bg-white border border-gray-200 hover:border-transparent hover:shadow-lg focus:outline-none focus:border-transparent focus:shadow-lg transition duration-300 rounded-xl p-5" href="#">
        <div class="aspect-w-16 aspect-h-11">
          <img class="w-full object-cover rounded-xl" src="https://everyinfantmatters.org/wp-content/uploads/sites/22/2023/06/1685116146537.jpg" alt="Blog Image">
        </div>
        <div class="my-6">
          <h3 class="text-xl font-semibold text-gray-800">
            Vitamin A Tablets distribution to children in Kargil
          </h3>
          <p class="mt-5 text-gray-600">
            Such a privilege to carry out vitamin A distribution to children in Kargil, and treat malnutrition in pregnant women and nursing mothers! Every Infant Matters is grateful to Mr Santosh Sachdeva, District Collector Kargil, and to the donor unnikrishnan ts and Swarnima Tamang and GREAT EASTERN CSR FOUNDATION who are supporting a large scale 2 year project covering the entire district.
          </p>
        </div>
      </a>
      <!-- End Card -->

      
    </div>
    <!-- End Grid -->
  
    <!-- Card -->
    <!-- <div class="mt-12 text-center">
      <a class="py-3 px-4 inline-flex items-center gap-x-1 text-sm font-medium rounded-full border border-gray-200 bg-white text-blue-600 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="#">
        Read more
        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </a>
    </div> -->
    <!-- End Card -->
  </div>
  <!-- End Card Blog -->