<section class="py-16 px-4 text-center">
        
    <div class="inline-block bg-gradient-to-br from-yellow-200 to-pink-400 px-4 py-1 rounded-md mb-8">
        <span class="text-sm font-semibold uppercase tracking-wide text-yellow-800">Why We Work</span>
    </div>

    <h2 class="font-serif text-4xl md:text-5xl lg:text-6xl font-regular text-gray-800 mb-6">Blindness Stalks a Million Kids Yearly</h2>
    
    <p class="sans-serif-body text-lg text-gray-600 mb-10 max-w-4xl mx-auto">One million hungry children become blind every year due to Vitamin A deficiency. Blind forever. They are doomed to a life of darkness. Half of them die due to low immunity and recurrent infections. 250 million children worldwide suffer from Vitamin A deficiency and are at risk of losing their vision.</p>

    <p class="sans-serif-body text-lg text-gray-600 mb-10 max-w-4xl mx-auto">“We cannot provide nutritious food to everyone. But surely we can give the life-saving drops of vitamin A to malnourished children; to save them from the horror of permanent blindness, recurrent infections, and untimely deaths.”, says Dr. Radhika Batra, Co-founder, and President.</p>

    <!-- <button class="bg-yellow-400 hover:bg-yellow-500 text-gray-800 font-semibold py-3 px-6 rounded-md flex items-center justify-center mx-auto mb-8">
        <span class="mr-2">The process</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
    </button> -->

    <div class="max-w-7xl mx-auto">
        <iframe class="w-full aspect-video rounded-lg" src="https://www.youtube.com/embed/PhTtXr86I7s?si=LRDfqLsO5_mw3-Vw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</section>